.title {
    font-size: 2.6em;
    margin: 1.3em auto;
    text-align: center;
    color: var(--color-primary);
    
}
.ambulance__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3em;
    width: 80vw;
    margin: auto;
}
.ambulance {
    display: grid;
    grid-template-rows: 12rem 4rem 3rem 3rem 3rem;
    grid-gap: 0.6em;
    text-align: center;
    /* padding: 0.7em; */
    /* margin: 0.3em; */
    border: 1px solid var(--color-primary);}

.ambulance__name {
}

.driver__name, .driver__phone {
    display: inline;
    margin: auto;
}

.ambulance__button {
}