.header {
    font-size: 2em;
    color: var(--color-secondary);
}
* {
    text-align: center;
}
.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.form__group {
    position: relative;
    margin: 0.7em;
}

.form__input {
    padding: 0.7em 1em 0 1em;
    height: 3em;
}

.form__label {
    /* margin: 1em; */
    position: absolute;
    top: 2%;
    left: 2%;
}

.changescreen {
    color: var(--color-primary-light);
    text-decoration: var(--color-secondary) underline;
    cursor: pointer;
}