:root {
  --color-primary: #E43756;
  --color-primary-dark: #CD1032;
  --color-primary-darker: #A00520;
  --color-primary-light: #F15B76;
  --color-primary-lighter: #F68599;
  --color-secondary: #F37F3B;
  --color-secondary-dark: #DA5C11;
  --color-secondary-light: #FF9B60;
  --color-secondary-lighter: #FFB68A;
  --color-background-primary: #fdf8fc;
  --color-background-secondary: #FFE5D5;
}

body {
  min-height: 100vh;
  background: var(--color-background-primary);
  color: var(--color-primary);
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  /* background: url("./images/arron-choi-512674-unsplash.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */

}

button {
  padding: 0.3rem 0.6rem;
  margin: 0.3rem 0.6rem
}

a {
  color: var(--color-primary-light);
  padding: 0.3em 0.5em;
  /* background: var(--color-background-secondary); */
  text-decoration: var(--color-secondary);
}

a:hover {
  color: var(--color-primary-dark);
  background: var(--color-secondary-lighter);
  text-decoration: var(--color-secondary-lighter);
}

.btn {
  border-radius: 50%;
}