:root {
  --color-primary: #E43756;
  --color-primary-dark: #CD1032;
  --color-primary-darker: #A00520;
  --color-primary-light: #F15B76;
  --color-primary-lighter: #F68599;
  --color-secondary: #F37F3B;
  --color-secondary-dark: #DA5C11;
  --color-secondary-light: #FF9B60;
  --color-secondary-lighter: #FFB68A;
  --color-background-primary: #fdf8fc;
  --color-background-secondary: #FFE5D5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
